<footer>
  <div class="f-icon">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div class="f-brand">&copy; AirBnB Clone</div>
  <div class="f-links">
    <a href="">Privacy</a>
    <a href="">Terms</a>
  </div>
</footer>
