<% layout(`/layout/basic`) %>
<body>
  <h1>All Listings</h1>
  <form action="/listings/new" method="get">
    <button>Create new Listing</button>
  </form>
  <ul>
    <% for(list of allListings){ %>
    <li><a href="/listings/<%= list._id %>"><%= list.title %></a></li>
    <% } %>
  </ul>
</body>
