<% layout(`/layout/basic`) %>

<body>
  <h3>All Listings</h3>
  <div class="row">
    <% for(list of allListings){ %>

    <div
      class="card row-cols.lg-3 row-cols.md-3 row-cols.sm-2"
      style="width: 20rem"
    >
      <a href="/listings/<%= list._id %>">
        <img
          src="<%= list.image.url %>"
          class="card-img-top"
          alt="listing image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b> <%= list.title %> </b> <br />
            &#8377;<%= list.price.toLocaleString("en-IN") %>/night
          </p>
        </div></a
      >
    </div>

    <% } %>
  </div>
</body>
