<% layout(`/layout/basic`) %>
<body>
  <h1>Create New Lisitng</h1>
  <form action="/listings" method="post">
    <input type="text" placeholder="title" name="lisitng[title]" />
    <br />
    <input
      type="text"
      placeholder="Enter description"
      name="lisitng[description]"
    />
    <br />
    <input type="text" placeholder="image url" name="lisitng[image]" />
    <br />
    <input type="text" placeholder="price" name="lisitng[price]" />
    <br />
    <input type="text" placeholder="location" name="lisitng[location]" />
    <br />
    <input type="text" placeholder="Country" name="lisitng[country]" />
    <br />
    <button type="submit">Submit</button>
  </form>
</body>
