.fa-compass {
  color: royalblue;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
.nav-link {
  color: black !important;
}

.navbar {
  background-color: white;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.f-icon {
  /* Add styling for your icon here */
  font-size: 20px;
}

.f-brand {
  font-size: 14px;
  color: #333;
}

.f-links {
  margin-top: 10px;
}

.f-links a {
  color: #666;
  text-decoration: none;
  margin: 0 10px;
}

.f-links a:hover {
  color: #000;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}
.row {
  justify-content: center;
}

.row a {
  text-decoration: none !important;
  color: #000;
}
.card-img-top {
  border-radius: 1rem !important;
  height: 20rem;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ffffff;
}

.card-img-overlay {
  opacity: 0;
}

.addBtn,
.editBtn {
  background-color: royalblue !important;
  border: none !important;
  padding: 0.6rem 1rem !important;
}
