img {
    background-color: brown;
    size: 3cqi;
}

h1 {
    color: blue;
    background-color: beige;
    padding: auto;
    margin: 5cap, red;
}

h2 {
    text-underline-position: auto;
    color: aqua;
    background-color: blueviolet;
    
}

form {
    background-color: blanchedalmond;
}